.register{
    background-color: rgba(245, 245, 245, 0.726);
    padding: 20px 0px;
    text-align: center;
}
.register h1{
    font-weight: 300;
}
.form-container{
    display: flex;
    justify-content: center;
    margin: 20px 0;
}

.submitBtn{
    background: black;
    color: white;
    padding: 10px 30px;
    border: 0;
    border-radius: 5px;
    font-size: 15px;
    font-weight: bold;
    width: 50%;
}