.added-banner{
    background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url('../../images/BannerPic.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    height: 600px;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}
.added-banner .banner-section{

    text-align: center;
}
.banner-section input{
    padding:5px;
    border: 0px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}
.banner-section button{
    background-color: #1c1c1c;
    color: white;
    padding: 5px 10px;
    border:0;
    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px;
}
.banner-section :hover button{
    background-color: #F7CAC9;
    color: black;
}
.banner-section p{
    color: #F7CAC9;
    font-size: 20px;
    font-weight: bold;
}